*{
    box-sizing: border-box;
}
body{
    font:14px Helvetica,"microsoft yahei",sans-serif;
    color:#191919;
    width:1360px;
    margin:0 auto;
    padding:0;
}
#top,#nav,#app,#footer{
    width:1360px;
    padding:0;
    margin:0 auto;
}
ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color: #191919;
    text-decoration:none;
}
a:hover{
    color:#FF9900;
}
.lt{
    float:left;
}
.rt{
    float:right;
}

#top{
    height:32px;
    background:#000;
    line-height:32px;
}
.top{
    float:right;
}
.top>ul>li{
    float:left;
    text-align:center;
    color:#999;
    position:relative;
    /*padding:0 3px;*/
}
.top li:first-child a{
    border:0;
}
.top>ul>li>a{
    font-size:12px;
    color:#999;
    border-left:1px solid #999;
    padding-left:5px;
}
.top b,.top i{
    display:inline-block;
    width:27px;
    height:20px;
}
.top b{
    background:url("../images/shouji/spirit.png") no-repeat;
}
.top i{
    background:url("../images/shouji/spirit.png") no-repeat -155px 0;
}
#top p{
    width:322px;
    float:right;
    color:#999;
    margin-left:40px;
}
.top img{
    position:absolute;
    top: 28px;;
    left:-110px;
    display:none;
    z-index: 100;
}
.top li ul{
    border:1px solid #DDD;
    background:#FFF;
    width:85px;
    font-size:12px;
    display:none;
    position:absolute;
    top: 32px;
    left:0;
    z-index: 100;
}
.top .hover{
    color:#FF9900;
}
.click:hover{
    color:#ff9900;
}
#nav{
    margin:15px 0;
}
.logo a{
    float:left;
    margin-left:150px;
}
.navbar>ul>li{
    float:left;
    position:relative;
}
.navbar>ul{
    margin-left:60px;
    position:relative;
}
.navbar>ul>li>a{
    padding:0 17px;
    font-size:16px;
    display:inline-block;
    line-height:70px;
    height:70px;
}
.navbar p{
    font-size:20px;
    color:#000;
}
.navbar b{
    display:inline-block;
    width:20px;
    height:22px;
    background:url("../images/shouji/spirit.png") no-repeat 0 -98px;
}
.ios{
    position:absolute;
    top:70px;
    left:0;
    width:478px;
    height:254px;
    display:none;
    z-index: 100;
}
.ios>ul{
    width:155px;
    height:248px;
    background:#F7F6F6;
    float:left;
    position: relative;
    z-index: 10;
}
.ios>ul>li{
    margin:20px 5px;
}
.ios li a{
    color:#666565;
}
.ios li a:hover{
    color:#ff9900;
}
.ios_img{
    float:right;
    text-align: center;
    position: relative;
    z-index: 11;
}
.ios_img ul li{
    float:left;
    font-size:12px;
    margin-right:30px;
}
.ios_img a:hover{
    border-bottom:1px solid #FF9900;
}
.hover{
    color: #ff9900;
}
.ios p{
    font-size:12px;
    color:#666565;
    text-align: center;
}
.lg{
    width:180px;
    height:136px;
}
.network{
    position:absolute;
    top: 72px;
    left:-330px;
}
/*#slider{*/
    /*width:1360px;*/
    /*height:483px;*/
    /*margin-top:70px;*/
    /*position:relative;*/
	/*overflow:hidden;*/
/*}*/
/*#imgs li{*/
    /*position:absolute;*/
/*}*/
/*#imgs img{*/
    /*width:1360px;*/
    /*height:500px;*/
/*}*/
/*#index{*/
    /*position:absolute;*/
    /*bottom:50px;*/
    /*left:50%;*/
/*}*/
/*#index li{*/
    /*display:inline-block;*/
    /*width: 20px;*/
    /*height:20px;*/
    /*margin-left: 10px;*/
    /*border-radius:50%;*/
    /*border:1px solid #000;*/
    /*text-align: center;*/
    /*line-height: 20px;*/
    /*cursor: pointer;*/
/*}*/
#slider img{
    width:1360px;
    height:690px;
}
#slider {
	width: 1360px;
	height:483px;
	margin-top:70px;
	position:relative;
	overflow:hidden;
}
#slider #imgs {
	position:absolute;
	top: 0;  left: 0;
	height:690px;
}
#slider #imgs li{
	float:left;
	z-index:0;
}
#slider #index {
    position:absolute;
    bottom:15px;
    right:30px;
}
#slider #index li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    /*background: #3e3e3e;*/
	border:1px solid #DDD;
    color: #fff;    
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left:10px;
}
.move{
    background:#FF9900;
}
#subject{
    height:442px;
    background:#F5F5F5;
}
#subject ul{
    padding:60px 80px;
}
#subject li{
    width:280px;
    height:322px;
    float: left;
    margin:0 10px;
}
.firm1{
    background:#EAC02E;
}
#subject p{
    color:#FFF;
    font-size: 120px;
    text-align: center;
    margin-top:50px;
    position: relative;
}
#subject p b{
    font-size: 50px;
    position: absolute;
    top:0;
    right:80px;
}
#subject li>b{
    display: block;
    text-align: center;
    font-size:25px;
    margin-top: 30px;
    color:#FFF;
}
#subject a{
    display: block;
    text-align: center;
    color:#FFF;
    font-size: 12px;
    margin-top:20px;
}
.firm2{
    background: #FF7171;
}
.firm3{
    background: #56A5C1;
}
.firm4{
    background: #1FD8E3;
}
#subject .firm2 p{
    font-size: 100px;
}
#subject .firm2 p b{
    position: absolute;
    top: 0;
    right: 30px;
}
#subject .firm3 p{
    font-size: 80px;
}
#subject .firm3 p b{
    position:absolute;
    top:0;
    right: 20px;
}
#subject .firm4 p{
    font-size: 80px;
}
#subject .firm4 p b{
    position:absolute;
    top:0;
    right: 0;
}
#subject li:hover p{
    animation: anima .5s linear;
}
@-webkit-keyframes  anima{

    25%{
        bottom: -5px;
    }
    50%{
        bottom:0;
    }
    75%{
        top: -5px;
    }
    100%{
        top:0;
    }
 }
.app_content{
    min-height:200px;
    text-align: center;
}
.app_top{text-align: center;}
.app_top h1{
    /*text-align:center;*/
    margin-top:85px;
    margin-bottom:10px ;
    font-size:30px;
}
.app_top h1 a{
    color:#000;
}
.app_top p{
    text-align: center;
    font-size: 14px;
    color:#C2A599;
    margin-bottom: 50px;
}
.app_top span{
    display:block;
    color:#C2A599;
}
.app_center ul{
    margin-top: 180px;
}
.app_center li{
   display:inline-block;
    margin-left:10px;
}
.app_center li h1{
    margin-bottom: 20px;
}
.app_center li p{
    color: #c2a599;
}
.app_center li:hover a{
    color:#FF9900;
}
.app_bottom{
    background:#F5F5F5;
    height:850px;
}
.app_banner{
    min-hight:500px;
    text-align: center;
}
.app_lists{
    margin:50px 0 ;
}
.app_lists li{
    display:inline-block;
    margin-left: 10px;
}
.app_lists li a{
    padding:5px;
    color:#FFF;
    background:#5D5858;
}
.app_lists .hover a{
    background:#FE7100;
}
.click_imgs>ul>li{
    display:inline-block;
    border:1px solid #DDD;
}
.click_imgs{
    width:5080px;
    min-height:450px;
    text-align: center;
    position: relative;
    left:0;

}
.click_imgs img{
    width: 249px;
    height: 245px;
}
.click_div{
    margin:0 auto;
    width:1016px;
    height:407px;
    overflow:hidden;
}
.click_imgs ul{
        width:1016px;
        float:left;
    /*position:absolute;*/
    /*left: 178px;*/
    /*overflow: hidden;*/
}
.click_imgs li{
    border:1px solid #DDDDDD;
}
.t_name{
    margin:10px 5px 10px  10px;
    text-align: left;
    width:180px;
    min-height:60px;
}
.t_content span{
    color:#9688A5;
    font-size: 12px;
    /*display: inline-block;*/
}
.t_content{
    margin-bottom: 10px;
    width:230px;
}
.t_content a{
    font-size: 14px;
    font-weight: bold;
    color:#000;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
    display: inline-block;
    width: 150px;
}
.click_imgs li:hover a{
    color:#FF9900;
}
.click_imgs li:hover{
    background: #dddddd;
}
.t_style{
    width:230px;
}
.t_style span{
    font-size:12px;
    color:#9688A5;
}
.con{
    height: 44px;
    line-height: 22px;
    font-size: 12px;
    color: #888888;
    width: 160px;
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
}
.t_fun{
    width:230px;
}
.t_fun span{
    font-size:12px;
    color:#9688A5;
}
.son{
    height: 30px;
    font-size: 12px;
    color: #888888;
    width: 200px;
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
}
.app_banner>b{
    display:inline-block;
    width:32px;
    height:30px;
    background:#004964;
    margin-left: -4px;
}
.app_banner>b:hover{
    background:#FF9900;
}
.app_tu{
    text-align: center;
    margin-top: 50px;
}
.app_last{
    background: #F5F5F5;
    margin-top:-85px;
}
.ourself_imgs{
    text-align: center;
    margin-top:50px;
}
.ourself_imgs ul li{
    border:1px solid #DDDDDD;
    display: inline-block;
    margin-left: -4px;;
}
.ourself_imgs ul li p{
    margin:20px;
}
.ourself_imgs ul li p b{
    font-size: 18px;
}
.ourself_imgs ul li p span{
    display:block;
    margin-top:10px;
}
.ourself_imgs li>a{
    display: block;
    position:relative;
}
.ourself_imgs li>a i{
    position: absolute;
    top:0;
    left:0;
    width:248px;
    height:222px;
    background:#E47250;
    opacity: 0.5;
    z-index: -1;
}
.ourself_imgs li>a:hover i{
    z-index: 10;
}
.famouse_cu{
    text-align: center;
}
.famouse_cu li{
    display:inline-block;
    border:1px solid #DDDDDD;
}
.famouse_cu ul{
    margin-top:10px;
}
.famouse_cu li:hover{
    border:1px solid #FF9900;
}
.video,.nows{
    margin:50px 0;
    width:565px;
    height:300px;
    position: relative;
    float:left;
}
.video_top{
    float:left;
    width:513px;
}
.video_top li:first-child{
    float:left;
    font-size: 18px;
    color:#000;
}
.video_top li:last-child{
    float:right;
}
.video_top li:last-child:hover a{
    color:#FF9900;
}
.video_top li>a{
    font-size: 12px;
    color: #987C8C;
}
.line{
    margin-top:45px;
    text-align: center;
}
.line>li{
    width: 117px;
    height: 40px;
    line-height: 40px;
    background:#CECECE;
    margin-top: 13px;
    cursor: pointer;

}
.line>li>a{
    color:#FFF;
    font-size: 14px;
    font-weight: bold;
}
.line .row{
    background: #FF9900;
}
.line_video li{
    position:absolute;
    top: 44px;
    left: 129px;
    display:none;
}
.line_video li.play{
    display: block;
}
.nows{
    float:right;
}
.nows_top li{
    float:left;
}
.nows_top li>b{
    font-size:21px;
    padding-right: 5px;
}
.nows_top li:last-child{
    float: right;
}
.nows_top li:last-child a:hover{
    color: #FF9900;
}
.nows_top li:last-child a{
    font-size: 12px;
    color: #987C8C;
}
.nows_top li a{
    font-size: 18px;
}
.hover{
    color:#FF9900;
}
.nows_top:after{
    content: '';
    display:block;
    clear: both;
}
.nows_content{
    margin-top: 17px;
}
.nows_content>li:first-child{
    height:99px;
}
.nows_content>li>a{
    float:left;
    width:112px;
    height:81px;
    border:1px solid #DDDDDD;
    margin-right: 20px;
    font-size: 12px;
}
.nows_content>li>a:hover{
    color:#FF7852;
}
.nows_content img{
    float:left;
    width:110px;
    height:79px;
    margin: 1px;
}
.nows_date li:first-child{
    float: left;
}
.nows_date li:first-child a{
    color:#FF9900;
    font-size: 14px;
}
.nows_date li:first-child a:hover{
    color:#FF7852;
}
.nows_date li:last-child{
    float: right;
    font-size: 14px;
    color:#987C8C;
}
.nows_date:after{
    content:'';
    display: block;
    clear: both;
}
.nows_date{
    width:565px;
    height:20px;
    margin-bottom: 10px;
}
.nows_content p a{
    color:#FF9900;
}
.nows_content p{
    margin-bottom: 30px;
}
.nows_content>li{
    /*height:100px;*/
    border-bottom:1px dotted #062134;
}
.nows_b{
    height:39px;
    line-height: 39px;
}
.nows_b li:first-child{
    float:left;
}
.nows_b li:first-child a{
    color:#4A4A4A;
}
.nows_b li:last-child{
    float:right;
}

.nows_b li:last-child{
    color:#987C8C;
    font-size:14px;
}
.nows_b li a:hover{
    color:#FF9900;
}
.nows_b li{
    margin-left:10px;
}
.nows_content>li>a>span{
    display: inline-block;
    width:108px;
    height:77px;
    border:1px dotted #DDDDDD;
    margin: 1px;

}
.nows_content{
    display:none;
}
.hide{
    display:block;
}
.video{
    margin-left: 130px;
}
.nows{
    margin-right: 100px;
}
#app:after{
    content: "";
    display:block;
    clear: both;
}
/*.friend{*/
    /*overflow: hidden;*/
/*}*/
.friend{
    margin-left: 130px;
}
.friend_top{
    height:67px;
    margin:20px ;
    overflow: hidden;
}
.friend_top li{
    float:left;
    border:1px solid #DDDDDD;
    overflow: hidden;
    margin-left: 3px;
}
.friend_top li:hover {
    border:1px solid #FF9900;
}
.friend_top img{
    width: 182px;
    height: 62px;
}
.friend_top{
    display:none;
}
.show{
    display:block;
}
.friend ul:last-child li{
    border:0;
}
 .friend>.nows_top{
    width:1140px;
}
#footer{
   height:450px;
    background:#000;
}
 .footer_top{
     margin-left:130px;
     margin-right: 100px;
     border-bottom: 1px solid #FFFFFF;
     height:265px;
 }
 .footer_top>ul{
     float:left;
     width:215px;
     height:230px;
     margin:35px 20px 20px 0;
 }
 .footer_top ul li a{
     color:#CFD9D9;
     font-size: 13px;
 }
.footer_top ul li a:hover{
    color:#FF9900;
}
.footer_top ul li h3{
    color:#FFF;
    padding-bottom: 20px;
    border-bottom:1px solid #FFF;
    font-size:15px;
}
.footer_top ul li{
    margin-top: 10px;
}
.footer_top img{
    margin-top: 87px;
}
.footer_top:after{
    content: '';
    display: block;
    clear: both;
}
.footer_f p{
    color:#CFD9D9;
    font-size:12px;
    float:left;
    width:100%;
    margin-top: 10px;
    margin-left: 130px;
}
.footer_h{
    position: relative;
}
.footer_h ul{
    float: left;
    position: absolute;
    top:153px;
    left:33%;
}
.footer_h ul li{
    float:left;
}
.footer_h li a{
    float:left;
    color:#FFF;
    margin-left: 10px;
    border:1px solid #DDDDDD;
    background:#909090;
    padding:5px 8px;
}
.footer_h li a:hover{
    background:#FF9900;
}
.footer_h li:nth-child(2) a{
    background:#FF9900;
}
/*¹Ì¶¨¶¨Î»*/
.fixed_p{
    text-align: center;
    width:130px;
    height:300px;
    background:#49A9D0;
    position: fixed;
    right:0;
    top:332px;
    z-index: 10000;
}
.fixed_p li{
    height:40px;
    margin: 5px;
    line-height: 40px;
    border-bottom:1px solid #FFFFFF;
    position: relative;
}
.fixed_p li a{
    color:#0099CC;
}
.fixed_p li:last-child{
    border:0;
}
.fixed_p li a b{
    display:inline-block;
    width:20px;
    height:22px;
    background:url("../images/shouji/w_xqe.png") no-repeat;
    position:absolute;
    top:9px;
    left:4px;
}